body {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-ms-overflow-style: none;
	overflow-y: scroll;
    overflow-x: hidden;
	max-width: 100%;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
	background-color: #000011;
}

.nav-link {
	transition: 0.2s all ease-in-out;
}

body::-webkit-scrollbar { 
	width: 0 !important;
	height: 0 !important;
}

.dark-bg {
	background-color: #000011;
}

.light-bg {
	background-color: #e6e6e6;
}

.blue-bg {
	background-color: #172A45;
}

.light-blue-text {
	color: #9EA8C7;
}

.dark-grey-text {
	color: #3E4456;
}

.dark-blue-text {
	color: #000011;
}

.white-text {
	color: #e6e6e6;
}

.bold {
	font-weight: bold;
}

.bolder {
	font-weight: bolder;
}

.mainTitle {
	font-weight: bolder;
	font-size: 3.5em;
}

@font-face {
	font-family: 'Avenir LT Std 35 Light';
	font-style: normal;
	font-weight: normal;
	src: local('Avenir LT Std 35 Light'),
		url('./fonts/AvenirLTStd-Medium.woff') format('woff');
}
  
@font-face {
	font-family: 'Avenir LT Std 65 Medium';
	font-style: normal;
	font-weight: normal;
	src: local('Avenir LT Std 65 Medium'),
		url('./fonts/AvenirLTStd-Medium.woff') format('woff');
}

.full {
	min-width: 100vw;
	max-width: 100vw;
	min-height: 100vh;
}

.h90 {
	min-width: 100vw;
	max-width: 100vw;
	min-height: 90vh;
}

.h50 {
	min-width: 100vw;
	min-height: 50vh;
	max-width: 100vw;
}

.title {
	letter-spacing: 2px;
	text-align: center;
}

.spaced {
	letter-spacing: 1px;
}

.line-wrapped {
	overflow: hidden;
	text-align: center;
}
  
.line-wrapped:before,
.line-wrapped:after {
	background-color: #000;
	content: "";
	display: inline-block;
	height: 1px;
	position: relative;
	vertical-align: middle;
	width: 50%;
}

.line-wrapped:before {
	right: 0.5em;
	margin-left: -50%;
}

.line-wrapped:after {
	left: 0.5em;
	margin-right: -50%;
}

/* Animation */

.page-main {
	background-color: #000011;
}

.fade-enter {
	opacity: 0.2;
	transform: scaleX(0) translateY(100px);
	transition: all 500ms ease-in-out;
}

.fade-enter.fade-enter-active {
	opacity: 1;
	transform: scaleX(1) translateY(0);
	transition: all 500ms ease-in-out;
}

.fade-exit {
	opacity: 1;
	transform: scaleX(1) translateY(0);
	transition: all 500ms ease-in-out;
}

.fade-exit-active {
	opacity: 0.2;
	transform: scaleX(0) translateY(100px);
	transition: all 300ms ease-in-out
}

.single-string-page {
	font-size: 100px;
}

.nav-link {
	margin-right: 10px;
}

@media (max-width: 750px) {
    .single-string-page {
        font-size: 3em;
	}
	
	.nav-link {
		margin-right: 5px;
	}

	.navbar-brand {
		margin-right: 0px;
	}

	.nav {
		padding-left: 5px;
		padding-right: 5px;
	}
}
